# Andrew Arpin 200398857 - Problem Set 2

# Question 1

<center><img src="q1.png"></center>

# Answer
The value of a will be 6.

Process 
<br>
<br>
-Running the b function 3 times
<br>
-This sets a to the value of the c function 
<br>
-Calling the c function 3 times adds 6 to a 
<br>
-Setting a as a global is required to be able to access the var ex. print

# Question 2

<center><img src="Q2.png"></center>

In [3]:
def fileLength():
    try:        
        print("input format is 'filelength.txt'")
        print()
        #gets file namme and opens it
        fileName = input("What is the file name: ")
        infile = open(fileName, 'r')
        file = infile.read()
        #gets file char count
        charCount = len(file)
        print()
        print("Total char in file is: ", charCount)
    except:
        #if error 
        print("there was an issue getting that file try agian")
  
fileLength()

input format is 'filelength.txt'

What is the file name: filelength.txt

Total char in file is:  123

# Question 3
<center><img src="q3A.png"></center>
<center><img src="Q3B.png"></center>

In [42]:

class Marsupial:      
    items = {'doll', 'firetruck','kitten'}
    def __init__(self):
        self.pouch = []
        for item in Marsupial.items:
            self.pouch.append(item)
            print("added item " + item)  
        print(self)

class  Kangaroo(Marsupial):
    def __init__(self):
        super().__init__(self)
    
    

Marsupial()

added item kitten
added item doll
added item firetruck
<__main__.Marsupial object at 0x0000029A71C9B430>

# Question 4
<center><img src="q4.png"></center>

In [ ]:
def collatz(value):
    #if value is not 1 - continue 
    while value != 1:
        print(int(value))
        #if even
        if value % 2 == 0:
            value = value / 2
        #if odd
        else: 
            value = 3 * value + 1    
        #print 1 value 
    else:
        print(int(value))        
  
#checks if int 
value = input("Enter a positive int: ")
if int(value) < 0:
    print("Not a positive int")
else:
    collatz(int(value))

# Question 5

<center><img src="Q5.png"></center>

In [15]:
def binary(i):
   if i > 1:
    #gets remainder and runs function untill i is less than 1
       binary(i//2)     
    #gets and prints remainder  
   print(i % 2, end = '')

#gets value and check if positive
intValue = input("Please enter a int: ")
print()
if int(intValue) > 0:
    binary(int(intValue))
else: 
    print("must be positive int")

Please enter a int: 5

101

# Question 6

<center><img src="Q6.png"></center>
<center><img src="Q6A.png"></center>

In [41]:
from html.parser import HTMLParser
class  HTMLParser(HTMLParser):
     def handle_data(self, data):
       print(data)    
#looking through python documentation make it seem like hadle data is the way to get data inbetween tags how ever 
#I was unable to have it work in any meaningfull way or fitler the data with start and end  
     def handle_starttag(self, tag, attrs):
        if tag == 'h1' or tag == 'h2':
        # handle_data
            print()        


infile = open('w3c.txt') 
content = infile.read() 
infile.close() 
htmlparser = HTMLParser() 
htmlparser.feed(content)

Change_me















W3C Mission



Principles

In [17]:
from html.parser import HTMLParser
class LinkParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        'print value of href attribute if any'
        if tag == 'a':
            # search for href attribute and print its value
            print(attrs)

infile = open('links.html') 
content = infile.read() 
infile.close() 
linkparser = LinkParser() 
linkparser.feed(content)

[('href', 'http://www.google.com')]
[('href', 'test.html')]
[('href', 'mailto:me@example.net')]

# Question 7
<center><img src="Q7.png"></center>

In [ ]:

def webdir(URL, depth, indent):    
                   
                        
                        
    
url = input("Enter a url: ")
indent = input("Enter a indent: ")
webdir(url, depth, indent)

# Question 8
<center><img src="Q8a.png"></center>
<center><img src="Q8B.png"></center>

In [2]:
%lsmagic
%load_ext sql
%sql sqlite://
%sql DROP TABLE City_Info

 * sqlite://
(sqlite3.OperationalError) no such table: City_Info
[SQL: DROP TABLE City_Info]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [3]:
%%sql
CREATE TABLE City_Info(City varchar(50), Country varchar(50), Season varchar(10), 
                       Temperature real, Rainfall real);

 * sqlite://
Done.

[]

In [4]:
%%sql
INSERT INTO City_Info VALUES('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.4,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346),
('London','United Kingdom', 'Winter',4.2,207.7),
('London','United Kingdom', 'Spring',8.3,169.6),
('London','United Kingdom', 'Summer',15.7,157),
('London','United Kingdom', 'Fall',10.4,218.5),
('Cairo','Egypt', 'Winter',13.6,16.5),
('Cairo','Egypt', 'Spring',20.7,6.5),
('Cairo','Egypt', 'Summer',27.7,0.1),
('Cairo','Egypt', 'Fall',22.2,4.5);

 * sqlite://
12 rows affected.

[]

In [5]:
%%sql 
SELECT Temperature FROM City_Info;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [6]:
%%sql 
SELECT DISTINCT City FROM City_Info;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [7]:
%%sql
SELECT * FROM City_Info WHERE Country = "India";

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [8]:
%%sql
SELECT * FROM City_Info WHERE Season = "Fall";

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [9]:
%%sql
SELECT City, Country, Season FROM City_Info WHERE Rainfall > 200 AND Rainfall < 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [10]:
%%sql
SELECT City, Country FROM City_Info WHERE Season = "Fall" AND Temperature > 20
ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [11]:
%%sql
SELECT SUM(Rainfall)
FROM City_Info
WHERE City = "Cairo"

 * sqlite://
Done.

[(27.6,)]

In [13]:
%%sql
SELECT  Season, SUM(RainFall)
FROM City_Info 
GROUP BY Season

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
<center><img src="Q9.png"></center>

In [45]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
def listComprehension(): 
    #sets to upper
    upper = [i.upper() for i in words]
    print (str(upper))
    #sets to lower
    lower = [i.lower() for i in words]
    print (str(lower))
    #gets length
    count = [len(i) for i in words]
    print (str(count))    
 
    all = upper + lower + count   
    print(all)
    
    # if length greater than 4
    length4 = [i for i in words if len(i) >= 4]
    print (str(length4))
    
    
        
listComprehension()

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG', 'the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog', 3, 5, 5, 3, 5, 4, 3, 4, 3]
['quick', 'brown', 'jumps', 'over', 'lazy']